body {
    font-family: "Poppins", Poppons-medium;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#891652;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #240A34;
    color: #fff;
}

header .logo img {
    height: 50px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

header nav ul li a:hover {
    background-color: #FFEDD8;
}

.hero {
    background: url('hero-bg.jpg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.hero-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #FFEDD8;
}

.hero-content p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.hero-btn a {
    background-color: #F6FAB9;
    color: #637156;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.hero-btn a:hover {
    background-color: #b4b886;
}

.products {
    padding: 50px 20px;
    text-align: center;
}

.products h3 {
    font-size: 2em;
    margin-bottom: 40px;
    color: #F6FAB9;
}

.product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-item {
    width: 30%;
    margin-bottom: 20px;
    background-color: #FFEDD8;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.product-item:hover {
    transform: translateY(-10px);
}

.product-item img {
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.product-item p {
    padding: 15px;
    font-size: 1.2em;
}

footer {
    background-color: #240A34;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

footer p {
    margin: 5px 0;
}
